.App {
  font-family: sans-serif;
  text-align: center;
}

.btn-panel {
  margin-bottom: 15px;
}

.btn-panel > button {
  margin-right: 5px;
}

.x-axis-title {
  text-anchor: middle;
  font-weight: 600;
}
